.ProfileCanopy-header .AppContainer {
  height: 100%;
  position: relative;
}
.ProfileCanopy-avatar {
  bottom: -105px;
  left: -90px;
  position: absolute;
  transition: bottom .3s;
  z-index: 3;
}
/* @media screen and (min-width: 1236px)
.AppContainer {
    max-width: 1190px;
} */

.AppContainer {
    margin: 0 auto;
    max-width: 890px;
}
.ProfileAvatar {
  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  height: 200px;
  position: relative;
  width: 200px;
}
.ProfileAvatar-image, .ProfileAvatar-placeholderImage {
  -moz-force-broken-image-icon: 1;
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media only screen and (min-width : 320px){
  .ProfileCanopy, .ProfileCanopy-header {
    height: 174px;
  }
  .ProfileCanopy-avatar {
    bottom: -14px;
    left: 2px;
  }
  .ProfileAvatar{
    height: 75px;
    width: 75px;
  }
}
@media only screen and (min-width : 480px){
  .ProfileCanopy, .ProfileCanopy-header {
    height: 200px;
  }
  .ProfileCanopy-avatar {
    bottom: -55px;
    left: 8px;
  }
  .ProfileAvatar{
    height: 100px;
    width: 100px;
  }
}
@media only screen and (min-width : 600px){
  .ProfileCanopy-avatar {
    bottom: -45px;
    left: 30px;
  }
}
@media only screen and (min-width : 768px){
  .ProfileCanopy--large, .ProfileCanopy-header {
    height: 200px;
  }
  .ProfileCanopy-avatar {
    bottom: -80px;
    left: 30px;
  }
  .ProfileAvatar{
    height: 120px;
    width: 120px;
  }
}
@media only screen and (min-width : 992px){
  .ProfileCanopy--large, .ProfileCanopy-header {
    height: 250px;
  }
  .ProfileCanopy-avatar {
    bottom: -80px;
    left: 30px;
  }
  .ProfileAvatar{
    height: 140px;
    width: 140px;
  }
}
@media only screen and (min-width: 1200px){
  .ProfileCanopy--large, .ProfileCanopy-header {
      height: 280px;
  }
  .ProfileCanopy-avatar {
    bottom: -80px;
    left: 30px;
  }
  .ProfileAvatar{
    height: 160px;
    width: 160px;
  }
}
@media only screen and (min-width: 1100px){
  .ProfileCanopy--large, .ProfileCanopy-header {
    height: 280px;
  }
  .ProfileCanopy-avatar {
    bottom: -80px;
    left: 30px;
  }
  .ProfileAvatar{
    height: 180px;
    width: 180px;
  }
}
.ProfileCanopy--large, .ProfileCanopy-header {
    /* height: 250px; */
    margin: auto;
}
.ProfileCanopy--withNav {
    padding-bottom: 60px;
}
.ProfileCanopy, .ProfileCanopy-header {
    /* height: 250px; */
    margin-top: 10px;
    transition: height .3s;
}
.ProfileCanopy {
    position: relative;
}
.ProfileCanopy-inner {
    position: relative;
    width: 100%;
    z-index: 1;
}
.u-bgUserColor, .u-bgUserColorHover:hover, .u-bgUserColorHover:focus {
    background-color: #B40B44 !important;
}
.ProfileCanopy-header {
    max-width: 2560px;
    position: relative;
    z-index: 3;
    background-color: #1da1f2;
}
.ProfileCanopy-headerBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.ProfileCanopy-headerBg img {
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    margin: auto 0;
    width: 100%;
}